---
---
{% set pageConfig = {
    "title": "Census Prototypes",
    "bodyClasses": "splash-page"
} %}

{% block head %}
    <link rel="stylesheet" href="/styles.css"/>
{% endblock %}

{% block body %}
    <a
        class="splash-page__link"
        data-materials-link="{{ pageInfo.rootPath }}/poster-3.html"
        href="{{ pageInfo.rootPath }}/poster-3.html?crown=1"
    >
        <img
            class="splash-page__image"
            data-material="invite-poster"
            src="{{ pageInfo.rootPath }}/img/invite-poster-crown.png"
            alt="Invite poster"
        >
    </a>
    <script src="{{ pageInfo.rootPath }}/materials.js"></script>
{% endblock %}
