---
---
{% set pageConfig = {
    "title": "Census Prototypes",
    "bodyClasses": "splash-page"
} %}

{% block head %}
    <link rel="stylesheet" href="/styles.css"/>
{% endblock %}

{% block body %}
    <a
        class="splash-page__link"
        href="/poster-3.html"
    >
        <img
            class="splash-page__image"
            src="/img/invite-poster.png"
            alt="Invite poster"
        >
    </a>
{% endblock %}
